In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import time

import warnings
warnings.filterwarnings('ignore')

In [2]:
plt.rcParams['font.family'] = ['NanumGothic','sans-serif']
plt.rcParams['axes.unicode_minus'] = False

In [111]:
files = glob.glob('G:\내 드라이브\Colab Notebooks\데이터분석\.data\서울열린데이터광장\서울시농수산식품공사 식품 판매 결과\*.csv')
files

['G:\\내 드라이브\\Colab Notebooks\\데이터분석\\.data\\서울열린데이터광장\\서울시농수산식품공사 식품 판매 결과\\서울시농수산식품공사 식품 판매 결과.csv']

In [112]:
df = pd.read_csv(files[0],encoding='cp949')
df.head()

          거래일      품목          품종     단위  등급      가격       출하지 친환경구분(일반)
0  2022-12-19     콩나물      콩나물 수입  3.5키로  기타    2900        중국        일반
1  2022-12-19  건어류 기타      건어류 기타   10키로  기타  260000        수입        일반
2  2022-12-19  건어류 기타      건어류 기타   10키로  기타  265000        수입        일반
3  2022-12-19   봉지 미역  봉지미역(상장예외)    1키로  기타   13000  전라남도 완도군        일반
4  2022-12-19   봉지 미역  봉지미역(상장예외)  500그람  기타    6900  전라남도 완도군        일반

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640000 entries, 0 to 639999
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   거래일        640000 non-null  object
 1   품목         640000 non-null  object
 2   품종         640000 non-null  object
 3   단위         640000 non-null  object
 4   등급         640000 non-null  object
 5   가격         640000 non-null  int64
 6   출하지        640000 non-null  object
 7   친환경구분(일반)  640000 non-null  object
dtypes: int64(1), object(7)
memory usage: 39.1+ MB

In [114]:
df.describe()

                 가격
count  6.400000e+05
mean   3.089618e+04
std    6.790024e+04
min    6.000000e+01
25%    3.700000e+03
50%    1.070000e+04
75%    3.200000e+04
max    8.500000e+06

In [115]:
df.describe(include=np.object)

               거래일      품목      품종      단위      등급     출하지 친환경구분(일반)
count       640000  640000  640000  640000  640000  640000    640000
unique         310     223     413     380      11     467         1
top     2022-05-02      마늘  콩나물 수입    10키로      기타      수입        일반
freq          3163   74362   57504  112048  595365  228944    640000

## 전처리

In [116]:
def to_year(x):
    return time.strptime(x,'%Y-%m-%d').tm_year
def to_month(x):
    return time.strptime(x,'%Y-%m-%d').tm_mon
def to_day(x):
    return time.strptime(x,'%Y-%m-%d').tm_mday
def to_weekday(x):
    return time.strptime(x,'%Y-%m-%d').tm_wday
df['년도'] = df['거래일'].apply(to_year)
df['월'] = df['거래일'].apply(to_month)
df['일'] = df['거래일'].apply(to_day)
df['요일'] = df['거래일'].apply(to_weekday)

In [117]:
def to_unit(x):
    if x.find('키로'):
        return float(x[:-2])
    elif x.find('그람'):
        return float(x[:-2])/1000

df['단위'] = df['단위'].apply(to_unit)

In [118]:
def area(x):
    if x.find('서울')>-1:
        return '서울특별시'
    elif x.find('광주광역시')>-1:
        return '광주광역시'
    elif x.find('부산')>-1:
        return '부산광역시'
    elif x.find('인천')>-1:
        return '인천광역시'
    elif x.find('대구')>-1:
        return '대구광역시'
    elif x.find('경기')>-1:
        return '경기'
    elif x.find('제주')>-1:
        return '제주'
    elif x.find('충북')>-1 or x.find('충청북도')>-1:
        return '충북'
    elif x.find('충남')>-1 or x.find('충청남도')>-1:
        return '충남'
    elif x.find('전남')>-1 or x.find('전라남도')>-1:
        return '전남'
    elif x.find('전북')>-1 or x.find('전라북도')>-1:
        return '전북'
    elif x.find('경남')>-1 or x.find('경상남도')>-1:
        return '경남'
    elif x.find('경북')>-1 or x.find('경상북도')>-1:
        return '경북'
    elif x.find('강원')>-1:
        return '강원'
    else:
        return '해외'
df['출하지'] = df['출하지'].apply(area)

In [120]:
df.drop(['친환경구분(일반)'],axis=1,inplace=True)

## 시각화